#both-navs {
    z-index: 1;
    position: sticky !important;
    top: 0px;
  }

  #second-nav {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0;
  }

  h1,
  h2 {
    text-align: center;
  }

  .lead {
    margin-top: 15px;
    font-size: 1.1rem;
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }

  .reduce {
    padding-bottom: 0 !important;
  }