*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#headings{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
#headings h1{
    font-size: 50px;
}
#headings h3{
    font-size: 20px;
}
#content{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 4vw;
    margin-bottom: 10vh;
}
#content img{
    max-width: 300px;
}
.card{
    padding: 1px;
    border: 2px solid silver;
    min-width: 300px;

}
.card-text{
        margin-top: 10px;
    }
.card h3{
    margin: 5px;
}
.card p{
    max-width: 280px;
    padding: 10px;
}
.card-button{
    background-color: #0d6efd;
    color: white;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    border: 1px silver;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom:10px;
}


@media (max-width: 800px){
    #content{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        row-gap: 10vh;
    }
    #content img{
        width: 80vw;
        max-width: 350px;
    }
    .card{
        border: none;
        border-bottom: 2px solid silver;
        align-items: center;
    }
    .card p{
        width: 80vw;
        max-width: 350px;
        padding: 5px;
    }
    .card-button{
        margin-bottom: 10vh;
    }
    
}