* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#both-navs {
    z-index: 1;
    position: sticky !important;
    top: 0px;
}

#second-nav {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0;
}

h1,
h3 {
    text-align: center;
}

h3 {
    padding: 0 7vw 0 7vw;
    margin-bottom: 5vh;
}

.toast {
    top: 20vh;
    position: absolute;
    transform: translate(1vw, 0px);
}

.card-img-top {
    height: 100px;
    width: 100px;
    clip-path: circle(50%);
}

.card-spacing {
    padding: 1rem 1rem;
}

#toast-logo {
    width: 20px;
    height: 20px;
}

.card-body {
    padding: 0 0;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.vertical-align {
    display: grid;
    place-items: center;
}

.connect {
    width: 90%;
    max-width: 600px;
    margin: auto;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    padding: 0;
}

#volunteer-img {
    width: 150px;
    border-radius: 10px;
}

.volunteer-info {
    padding: 10px;
    max-width: 300px;
}

.volunteer-info h4 {
    font-size: 20px;
}

.btn {
    color: #fff;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    font-size: 17px;
    border-radius: 70px;
    box-shadow: 0 13px 22px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 16%);
}

.blue {
    background: linear-gradient(to bottom right, #0a9cc9, rgb(124, 189, 233));
}

.gray {
    background-color: rgb(182, 182, 182);
}

#buttons {
    width: 500px;
    padding-top: 5vh;
    padding-bottom: 10vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#connection-list {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    justify-items: center;
    font-size: 8px;
}

#connection-list img {
    width: 10vw;
    max-width: 150px;
    padding-right: 1vw;
}

#connection-list .connection {
    width: 25vw;
    display: grid;
    grid-template-columns: 3fr 4fr;
    border: 1px solid black;
    align-items: center;
}

#connection-list h4 {
    font-size: 10pt;
    padding-right: 0.8vw;
}

@media(max-width: 1000px) {
    #connection-list {
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }

    #connection-list .connection {
        width: 35vw;
    }

    #connection-list img {
        width: 15vw;
        max-width: 150px;
    }
}

@media(max-width: 700px) {
    body {
        text-align: center;
    }

    h3 {
        font-size: 17px;
    }

    #connection-list {
        text-align: left;
        grid-template-columns: 1fr;
        width: 90%;
    }

    #connection-list .connection {
        width: 70vw;
        min-width: 250px;

    }

    #connection-list img {
        width: 25vw;
        max-width: 150px;
        min-width: 100px;
        margin-right: 4vw;
    }

    #connection-list h4 {
        font-size: 11pt;
    }

    .connect {
        width: 90%;
        max-width: 325px;
        display: inline-block;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .connect h4 {
        font-size: 16px;

    }

    #volunteer-img {
        padding: 0;
        width: 150px;
        clip-path: circle();
    }

    .volunteer-info {
        margin: 0 auto;
        margin-top: -5px;
        padding: 10px;
        max-width: 300px;
    }



    #buttons {
        width: 300px;
    }
}