* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h3 {
    text-align: center;
}

h3 {
    padding: 0 7vw 0 7vw;
    margin-bottom: 5vh;
}
.toast {
    top: 20vh;
    position: absolute;
    transform: translate(1vw, 0px);
}

.card-img-top {
    height: 100px;
    width: 100px;
    clip-path: circle(50%);
}

.card-spacing {
    padding: 1rem 1rem;
}

#toast-logo {
    width: 20px;
    height: 20px;
}

.card-body {
    padding: 0 0;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.connect {
    width: 600px;
    margin: auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
}

#volunteer-img {
    /* width: 250px;
    padding-right: 3vw; */
    max-height: 300px;
    max-width: 250px;
    min-width: 250px;
    object-fit: contain;

}

#buttons {
    width: 300px;
    padding-top: 5vh;
    padding-bottom: 10vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#connection-list {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    justify-items: center;
    font-size: 8px;
}

#connection-list img {
    width: 10vw;
    max-width: 150px;
    padding-right: 1vw;
}

#connection-list .connection {
    width: 25vw;
    display: grid;
    grid-template-columns: 3fr 4fr;
    border: 1px solid black;
    align-items: center;
}

#connection-list h4 {
    font-size: 10pt;
    padding-right: 0.8vw;
}

@media(max-width: 1000px) {
    #connection-list {
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }

    #connection-list .connection {
        width: 35vw;
    }

    #connection-list img {
        width: 15vw;
        max-width: 150px;
    }
}

@media(max-width: 700px) {
    body {
        text-align: center;
    }

    h3 {
        font-size: 17px;
    }

    #connection-list {
        text-align: left;
        grid-template-columns: 1fr;
        width: 90%;
    }

    #connection-list .connection {
        width: 70vw;
        min-width: 250px;

    }

    #connection-list img {
        width: 25vw;
        max-width: 150px;
        min-width: 100px;
        margin-right: 4vw;
    }

    #connection-list h4 {
        font-size: 11pt;
    }

    .connect {
        width: unset;
        display: inline-block;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .connect h4 {
        font-size: 16px;

    }

    .volunteer-img {
        width: 60vw;
        min-width: 220px;
        max-width: 260px;
        padding: 0;
    }

    .volunteer-info {
        padding: 10px;
    }

    #buttons {
        width: 200px;
    }
}