#title {
  text-align: center;
}

#banner {
  max-width: 700px;
  width: 80%;
  margin: 30px auto 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  justify-self: end;
}

.profileImg {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  justify-self: end;
}

.profileName {
  justify-self: center;
  align-self: center;
}

.timestamp {
  justify-self: end;
  align-self: center;
}

.likeIcon {
  cursor: pointer;
}

.likediv {
  padding-top: 15px;
  padding-left: 5px;
}

#container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.likes {
  display: grid !important;
  align-items: center !important;
}

.commenter-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(207, 207, 207);
}

.show-comments{
  margin-bottom: 15px;
}
.show-comments:hover {
  cursor: pointer;
}

#add-comment {
  height: 40px !important;
}

.card-body {
  padding: 8px 8px 0 8px;
}

#new-comment {
  display: grid;
  justify-items: center;
}

#new-comment button {
  margin-top: 15px;
}

.user-made-comments-go-here {
  margin-top: 20px;
}

.comments-go-here {
  display: none;
}

.commenter-profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.user-name {
  margin-top: 5px;
  font-weight: 500;
}

.comment-body {
  padding-left: 5px;
  padding-right: 12px;
}

.description {
  margin-top: -18px;
  margin-left: 60px;
}
.btn {
  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  border-radius: 70px;
  box-shadow: 0 13px 22px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 16%);
  background: linear-gradient(to bottom right, #0a9cc9, rgb(124, 189, 233));
}

@media (max-width: 600px) {

  .comment-body {
    padding-left: 0;
    padding-right: 5px;
  }

  .commenter-img {
    width: 45px;
    height: 45px;
  }

  .description {
    font-size: 15px;
    margin-top: -15px;
    margin-left: 55px;
  }

  .user-name {
    font-size: 15px;
  }

  body {
    line-height: unset;
  }

  #banner {
    margin-top: 15px;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
  }

  form {
    justify-self: unset;
  }

  .card-title {
    font-size: 20px;
  }

}