#title {
  text-align: center;
}

#banner {
  width: 60%;
  margin: 0 auto 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

#banner h3 {
  grid-column: 1;
}

form {
  grid-column: 2;
  justify-self: end;
}

#profileImage {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#name {
  justify-self: center;
  align-self: center;
}
