
.container {
    display: grid;
    height: 80vh;
    grid-template-rows: 30% 10% 10% 15% 20% 15%;
    grid-template-columns: 20% 25% 10% 25% 20%;
}

.btn-round {
    border-radius: 10px;
    max-height: 40%;
}


#img-container{
    grid-row: 1 / 1 span;
    grid-column: 1 / 5 span;
    text-align: center;
}
#img-logo {
    height: 100%;
    width: auto;
}

#form-email {
    grid-row: 3 / 1 span;
    grid-column: 1 / 5 span;

}

#form-password{
    grid-row: 4 / 1 span;
    grid-column: 1 / 5 span;

}

#profile-icon {
    height: 11%;
    width: 11%;
}

#btn-login {
    grid-row: 5 / 1 span;
    grid-column: 2 / 1 span;
}

#btn-signup {
    grid-row: 5 / 1 span;
    grid-column: 4 / 1 span;
}