.vertical-center {
    display: grid;
}

.vertical-center p,
.vertical-center a,
.vertical-center button {
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
}

.card-header {
    padding: 0.2rem 1rem;
}

.card-body {
    padding: 0.2rem 0.2rem;
}
.card-text {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

img {
    width: 70px;
    height: 70px;
    clip-path: circle(30px);
}

.btn-sm {
    width: 70px;
    height: 35px;
}