/****************************************************** Quill ****************************************************/
/* Set droplist names - -item is the currently selected font, -label is the font's appearance in the droplist*/
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='verdana']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='verdana']::before
{
  content: 'Verdana';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before
{
  content: 'Times New Roman';
  font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
{
  content: 'Arial';
  font-family: 'Arial';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='calibri']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='calibri']::before
{
  content: 'Calibri';
  font-family: 'Calibri';
}

/****************************************************
Set the font-family content used for the HTML content.
*****************************************************/
.ql-font-arial {
  font-family: 'Arial';
}

.ql-font-times-new-roman {
  font-family: 'Times New Roman';
}

.ql-font-calibri {
  font-family: 'Calibri';
}

.ql-font-verdana {
  font-family: 'Verdana';
}
/******************************************************************************************************************/

#title {
  text-align: center;
}

.ql-toolbar {
  text-align: center;
  width: 80%;
  height: auto;

  margin: 0 auto 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#editor {
  height: 200px;
  width: 80%;
  margin: 0 auto 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.field {
  width: 80%;
  margin: 0 auto 0 auto;
}

#innerField {
  width: 100%;
  height: auto;
}

#picture {
  max-height: 200px;
  max-width: 200px;
  width: 80%;
  height: auto;
  display: none;
}

.submission {
  height: auto;
  width: 80%;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

#submit {
  font-size: 1vw;
}

@media only screen and (max-width: 1200px) {
  #submit {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  #submit {
    font-size: 3vw;
  }
}