#inner {
  display: grid;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#heading h1 {
  font-size: 45px;
}

#profilePicture {
  border-radius: 50%;
}


.needs-validation{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1vh;
  column-gap: 2vw;
}
 
/* No volunteer checkbox anymore?
#volunteer{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 7px;
  align-items: center;
}

#check {
  width: 25px;
  height: 25px;
}*/

.submission {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 20px;
  align-items: center;
}

.submission input{
  width: 120px;
  height: 50px;
}

@media (max-width: 700px){
  .needs-validation{
      grid-template-columns: 1fr;
      row-gap: 3vh;
  }    
  .submission {
    margin-top: 4vh;
    justify-content: center;
    column-gap: 20px;
  }
}
