#both-navs {
  z-index: 1;
  position: sticky !important;
  top: 0px;
}

#second-nav {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 0;
}

#heading {
  margin-top: 10px;
  margin-bottom: 20px;
}

#heading h1 {
  font-weight: 200;
}

#inner {
  display: grid;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-bottom: 40px;
}


#profilePicture {
  border-radius: 50%;
  border: 1px solid gainsboro;
  width: 150px;
}

.btn {
  color: #fff;
  padding: 10px 20px 10px 20px;
  min-width: 120px;
  min-height: 35px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  border-radius: 70px;
  box-shadow: 0 13px 22px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 16%);
}

.btn-success {
  background: linear-gradient(to bottom right, #0a9cc9, rgb(124, 189, 233));
}

.btn-primary {
  background-color: rgb(182, 182, 182);
}

.needs-validation {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1vh;
  column-gap: 2vw;
}

/* No volunteer checkbox anymore?
#volunteer{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 7px;
  align-items: center;
}

#check {
  width: 25px;
  height: 25px;
}*/

.submission {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 20px;
  align-items: center;
}

.submission input {
  width: 120px;
  height: 50px;
}

@media (max-width: 700px) {
  .needs-validation {
    grid-template-columns: 1fr;
    row-gap: 3vh;
  }

  .submission {
    margin-top: 4vh;
    justify-content: center;
    column-gap: 20px;
  }
}