#container {
  height: 350px;
  display: grid;
  grid-template-rows: 20% 55% 20%;
  text-align: left;
  row-gap: 10px;

  justify-items: center;
  align-items: center;
}

#heading  {
  grid-row: 1;
}

#heading h1 {
  font-size: 3vw;
}

#picture {
  grid-row: 2;
}

#profilePicture {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#button {
  grid-row: 3;
}

#container2 {
  height: 2150px;
  display: grid;
  grid-template-rows: repeat(3, 7%) 21.75% repeat(8, 7%);
  row-gap: 10px;

  justify-items: center;
  align-self: center;
}

.font {
  font-size: 1.5vw;
}

.inputFormat {
  background: #f1f1f1;
  display: inline-block;
  width: 600px;
}

#firstName {
  grid-row: 1;
}

#lastName {
  grid-row: 2;
}

#age {
  grid-row: 3;
}

#bio {
  grid-row: 4;
}

#occupation {
  grid-row: 5;
}

#education {
  grid-row: 6;
}

#fieldOfStudy {
  grid-row: 7;
}

#nationality {
  grid-row: 8;
}

#languages {
  grid-row: 9;
}

#hobbiesActivities {
  grid-row: 10;
}

#volunteer {
  grid-row: 11;
}

#check {
  width:600px;
  height:40px;
  border-radius:5px;
  border:2px solid #555;
}

.submission {
  height: auto;
  width: 600px;
  grid-row: 12;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

#submit {
  grid-column: 1;
  height: 80%;
}

#cancel {
  grid-column: 4;
  height: 80%;
}

@media (max-width: 1250px) {
  #heading h1 {
    font-size: 5vw;
  }
  .font {
    font-size: 3.5vw;
  }
}

@media (max-width: 750px) {
  #heading h1 {
    font-size: 7vw;
  }
  .font {
    font-size: 5vw;
  }
}

@media (max-width: 650px) {
  #container2 {
    height: 1200px;
  }

  .inputFormat {
    width: 400px;
  }

  #check {
    width: 400px;
  }

  .submission {
    width: 400px;
  }
}